
body {
    background-color: white;
    color: black;
    font-family: Roboto, sans-serif, Ariel;  
    scroll-behavior: smooth;   
    width: 100%;
    margin: 0;    
}

.about {
    font-size: larger;
}
    
footer {
    text-align: center;
    background-color: #4a2545;
    color: white;    
}

.animation:hover {
    filter: opacity(50%); 
}

.card-colour {
    background-color: white;
    color: black;
}

.button-colour {
    background-color: #4a2545;
    border: 0;
}
.link-colour {
    color:black;
}
.button-colour:hover {
    background-color: #dccca3;
}

.link-colour:hover {
    color: #4a2545;
    font-weight: bolder;
}

#about-section {
    clear: both;
    display: block;
}

#background {
    background-image: url("images/christine-website.jpg"); 
    background-color: #4a2545;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}

.heading {
    font-weight: bold;
}

.line {
    border: 2px dotted;
    border-color: gray;
}

.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
 .bg-colour {
     background-color: #dccca3;
 } 

 .purple {
    background-color: #4a2545;
 }

 /* .collapse-black {
    color: #000 !important;
} */


 @media screen and (max-width: 768px) {
    #background {
        background-image: url("images/christine-website-mobile.jpg");
        background-color: #4a2545;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    #background {
    background-image: url("images/christine-website-mobile.jpg"); 
    background-color: #4a2545;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .profile-pic {
        margin-right: auto;
        margin-left: auto;
        display: block;
        float: none;
        margin-top: auto;
        margin-bottom: auto;
    }
}


@media screen and (max-width: 768px) {
    .nav-colour {
        color: black;
    }
}

@media screen and (max-width: 550px) {
    .slider-mobile {
        width: 100% !important;
    }
}